.imgcar{
    display: block;
    margin-left: auto;
    margin-right: auto
}



.clr-dark{
    color: rgb(0, 0, 0);
}

.scrollspySite{
    position: relative;
    overflow: auto;
    height: 350px;
}

.pn{
    padding: -20;
}
